<div>
  [Whole Video Info]<br/>
  Current Time : {{ videoContainer.currentPlayTime }}s<br/>
</div>
<div class="videoArea" [ngStyle]="{ 'height' : videoContainer.height}">
  <div [id]="group" class="player" style="position:relative;float: left" [ngStyle]="{'width': videoContainer.width + 'px'}">
    <div class="controller">
      <span *ngIf="videoContainer.playStatus === 1"
            (click)="videoContainer.pause()"
            style="position:absolute;top:324px;left:40px;cursor: pointer;font-size: 25px;font-weight: bold">II</span>
      <span *ngIf="videoContainer.playStatus === 0 || videoContainer.playStatus === 2"
            (click)="videoContainer.play()"
            style="position:absolute;top:323px;left:35px;cursor: pointer;font-size: 25px;">▶</span>
      <span *ngIf="videoContainer.volume === true"
           style="position:absolute;top:330px;left:590px;cursor: pointer;width: 24px; height: 24px;background-image: url('./assets/img/sound_on.png')"
            (click)="videoContainer.setVolume(false)" ></span>
      <span *ngIf="videoContainer.volume === false"
           style="position:absolute;top:330px;left:590px;cursor: pointer;width: 24px; height: 24px;background-image: url('./assets/img/sound_off.png')"
            (click)="videoContainer.setVolume(true)" ></span>

      <progress class="video"
                style="position:absolute;top:336px;width:80%;height:10px;left: 10%;"
                (click)="videoContainer.onProgressbarClick($event)"
                [value]="videoContainer.currentPlayTime" min="0" [max]="videoContainer.totalPlayTime"></progress>
    </div>
    <img src="./assets/img/Double Ring-2.6s-201px.svg"
         *ngIf="!videoContainer.isInit"
         style="position:absolute;left:0px;top:0px;" [ngStyle]="{ 'width': videoContainer.width + 'px', 'height' : videoContainer.height}"
    />
  </div>
  <div style="float:left;width:300px;height: 100%;overflow-y: scroll;">
    <ul>
      <li *ngFor="let video of videoContainer.videos; index as i;" [ngClass]="(videoContainer.currentVideo.index == i) ? 'current' : ''" >
        No : {{ i + 1 }}<br/>
        Id : {{ video.id }}<br/>
        Range : {{ video.startTimeCode }}s ~ {{ video.endTimeCode }}s<br/>
        Playing now : {{ video.currentTimeCode }}s
      </li>
    </ul>
  </div>
</div>
<div style="margin: 10px;"></div>
